@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
body{
    background-color: rgb(226, 226, 226);
}


.games-main{
    width: auto;
    height: 100%;

    margin-left: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(
        to bottom,
        #330b20,
        #1a1328
    );
}

.tablePage{
    width: clamp(200px, 90%, 1200px);
    min-height: 100svh;
    height: 100%;
    padding: 2% 2%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    row-gap: 20px;
    
    /* background-color: rgba(243, 9, 72, 0.2); */
    background-color: rgba(92, 33, 49, 0.4);

    border-radius: 5px;
}


/* 
    ENCABEZADO DE LA TABLA
*/
.table-header{
    width: 100%;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.table-header-title{
    font-size: 30px;
    font-weight: 900;
    position: relative;

    background: linear-gradient(
        to bottom,
        #e6bdc9 25%,
        transparent
    );
    background-clip: text;
    color: transparent;

    visibility: hidden;
}
.add-game-btn{
    width: fit-content;
    height: fit-content;

    padding: 10px;
    font-size: 16px;
    font-weight: 600;

    border: none;
    cursor: pointer;
    background-color: rgba(175, 15, 55, 0.5);
    color: rgb(233, 194, 197);
}
.add-game-btn:hover{
    filter: brightness(2);
    color: white;
}


/* 
    CONTENIDO DE LA TABLA
*/
.table-body{
    width: 100%;
    height: 100%;
    
    border-collapse: collapse;
    color: white;

    thead{
        position: sticky;
        backdrop-filter: blur(20px);
    }
    th{
        padding: 10px 0;
        position: relative;

        background-image: linear-gradient(
            to bottom,
            rgba(100, 45, 49, 0.5),
            rgba(85, 38, 59, 0.5)
        );
        color: rgb(199, 188, 189);
    }
    th:not(:last-child)::after{
        content: '';
        top: 0;
        right: 0;

        height: 100%;
        width: 2px;

        position: absolute;
        background-image: linear-gradient(
            to bottom,
            transparent,
            rgba(199, 188, 189, 0.2),
            transparent
        );
    }
    tr{
        display: grid;
        grid-template-columns: 50px 250px 1fr 150px 100px;
        grid-template-rows: 1fr;
        margin-bottom: 10px;
    }
    tr.hide{
        filter: brightness(0.5);
    }
    td{
        height: auto;
        max-height: 120px;
        padding: 5px;

        align-content: center;

        background-image: linear-gradient(
            to bottom,
            rgba(126, 84, 87, 0.5),
            rgba(119, 73, 94, 0.5)
        );
    }
    td:nth-child(1), td:nth-child(5){
        text-align: center;
        color: rgb(199, 188, 189);

        background-image: linear-gradient(
            to bottom,
            rgba(100, 45, 49, 0.5),
            rgba(85, 38, 59, 0.5)
        );
    }
    td:nth-child(3){
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }
}

.game-img{
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;

    display: block;
}
.game-name{
    font-size: 18px;
    font-weight: 800;
}
.game-tags{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    span{
        font-size: 12px;
        font-weight: 500;
        border-radius: 5px;
        padding: 4px 8px;

        color: rgb(199, 188, 189);
        background-color: rgba(253, 154, 154, 0.2);
    }
}
.game-available-platforms{
    width: 100%;
    height: fit-content;
    gap: 5px;

    display: flex;
    align-items: flex-end;

    span{
        font-size: 14px;
        color: rgb(199, 188, 189);
    }
    img{
        width: 15px;
        height: 15px;

        filter: grayscale(1);
    }
}
.game-launch-date{
    color: rgb(199, 188, 189);
}
.game-developed-by{
    font-weight: 600;
}
.toggle-hide-btn,
.delete-btn{
    padding: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;

    background-color: rgba(185, 185, 185, 0.5);
}
.delete-btn{
    background-color: rgba(170, 5, 40, 0.6);
}
.toggle-hide-btn:hover,
.delete-btn:hover{
    filter: brightness(2);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}


/* 
    FORMULARIO PARA AGREGAR UN JUEGO
*/
.form-dark-background{
    content: '';
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;

    display: none;
    align-items: center;
    justify-content: center;

    z-index: 40;
}
.addGameForm{
    width: 800px;
    height: auto;

    position: fixed;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

    background-color: rgb(255, 255, 255);
    color: rgb(199, 188, 189);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);

    z-index: 50;
}

/* 
    ENCABEZADO DEL FORMULARIO
*/
.form-header{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;

    /* background-color: #381429; */
    background-color: #641436;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    
    z-index: 20;

    h2{
        color: rgb(161, 128, 131);
        text-shadow: 0 0 10px rgba(131, 11, 81, 0.8);
    }
}
.form-close-btn{
    border: none;
    cursor: pointer;

    padding: 5px;

    background-color: #42071e;
    color: rgb(161, 128, 131);
}
.form-close-btn:hover{
    background-color: #c9244d;
    color: white;
}

/* 
    CONTENIDO DEL FORMULARIO
*/
.form-body{
    width: 100%;

    display: grid;
    grid-template-rows: repeat(6, 1fr) auto;
    grid-template-columns: 1fr;

    align-items: center;
    padding: 20px;

    background-color: #381429;

    div{
        display: flex;
        flex-direction: column;

        label{
            font-size: 16px;
            font-weight: 600;
            padding-bottom: 5px;
        }
        input, select{
            font-size: 14px;
            padding: 5px;
            margin-bottom: 10px;

            border: none;
            background-color: #571e36;
            color: rgb(202, 135, 141);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }
        input:focus, select:focus{
            outline: 2px groove #c9244d;
        }
        input:not([type="text"]), select{
            cursor: pointer;
        }
    }
}
.form-save-btn{
    border: 2px groove #c9244d;
    cursor: pointer;

    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    margin-top: 40px;

    background-color: transparent;
    color: #c9244d;
}
.form-save-btn:hover{
    background-color: #c9244d;
    color: white;
}