
<!-- COMPONENTE: BARRA DE NAVEGACIÓN -->
<script src="/navbar/navbar.js" defer></script>

<div class="menu-dark-background"></div>
<aside class="menu">
    <ul class="toolbar">
        <!-- <li>
            <button class="tools notifications-btn">
                <i class="hn hn-envelope-solid"></i>
                <span>Correo</span>
                <i class="hn hn-angle-left tool-pointer"></i>
            </button>
        </li> -->
        <li>
            <button class="tools home-btn">
                <i class="hn hn-home-solid"></i>
                <span>Inicio</span>
                <i class="hn hn-angle-left tool-pointer"></i>
            </button>
        </li>
        <li>
            <button class="tools toggle-menu-btn">
                <i class="hn hn-play-solid"></i>
                <span>Menú</span>
                <i class="hn hn-angle-left tool-pointer"></i>
            </button>
        </li>
        <li>
            <button class="tools site-settings-btn">
                <i class="hn hn-cog-solid"></i>
                <span>Ajustes</span>
                <i class="hn hn-angle-left tool-pointer"></i>
            </button>
        </li>
        <!-- <li>
            <button class="tools logout-btn">
                <i class="hn hn-logout-solid"></i>
                <span>Salir</span>
                <i class="hn hn-angle-left tool-pointer"></i>
            </button>
        </li> -->
    </ul>

    <section class="navbar">
        <header>
            <!-- <a href="#" class="user-image">
                <img src="/imgs/foto-usuario-predeterminada.png" alt="Foto de perfil">
            </a> -->
            <div class="user-info-box">
                <!-- <span class="user-tier Premium">Premium</span>
                <span class="user-alias">Leo the Great</span>
                <a href="/login" class="user-name">@leonel-bautista-2024</a> -->
                <span class="user-alias">Anónimo</span>
                <button class="login-btn">Ingresar ahora</button>
            </div>
        </header>

        <nav>
            <a href="#" class="links large-link games-link">
                <i class="hn hn-save-solid"></i>
                <span>Lista de juegos</span>
            </a>
            <a href="#" class="links large-link downloads-link">
                <i class="hn hn-download-alt-solid"></i>
                <span>Descargas</span>
            </a>
            <a href="#" class="links large-link about-link">
                <i class="hn hn-info-circle-solid"></i>
                <span>Acerca de</span>
            </a>
            <!-- <a href="#" class="links account-settings-link">
                <i class="hn hn-user-solid"></i>
                <span>Ajustes de cuenta</span>
            </a>
            <a href="#" class="links discussions-link">
                <i class="hn hn-comments-solid"></i>
                <span>Discusiones</span>
            </a>
            <a href="#" class="links about-link">
                <i class="hn hn-info-circle-solid"></i>
                <span>Acerca de</span>
            </a>
            <a href="#" class="links news-link">
                <i class="hn hn-bullhorn-solid"></i>
                <span>Novedades</span>
            </a> -->
            <!-- <a href="#" class="links large-link admin-link">
                <span>Administración</span>
            </a> -->
        </nav>
    </section>
</aside>