@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Chakra Petch", sans-serif;
}


/* 
    MENÚ DE HERRAMIENTAS Y NAVEGACIÓN
*/
.menu-dark-background{
    width: 100%;
    height: 100%;
    left: 0; top: 0;

    position: fixed;
    visibility: hidden;
    opacity: 0;

    transition: visibility 0.5s ease,
                opacity 0.5s ease-in-out;

    z-index: 145;
}
.menu-dark-background.expanded-menu{
    visibility: visible;
    opacity: 1;

    background-color: rgba(0, 0, 0, 0.4);
}
.menu{
    width: 60px;
    height: 100%;

    position: fixed;
    display: flex;
    align-items: center;

    transition: width 0.5s ease,
                box-shadow 0.5s ease;

    z-index: 150;

    .hn{
        font-size: 2.5rem;
        color: #000000;
    }
}
.menu:hover, .menu:focus-within{
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);

    .toolbar{
        background-color: rgba(33, 33, 33, 0.8);
    }
    .tools{
        opacity: 1;
    }
}
.menu.expanded-menu{
    width: calc(clamp(360px, 35dvw, 500px) + 60px); /* el ancho del menú es la suma del ancho de .toolbar y .navbar */
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);

    .toolbar{
        background-color: rgba(33, 33, 33);
    }
    .tools{
        opacity: 1;
    }
}


/* 
    BARRA DE HERRAMIENTAS (ACCESO RÁPIDO)
*/
.toolbar{
    width: 60px;
    height: 100%;

    margin-left: auto;
    list-style: none;
    /* clip-path: polygon(10px 0, 20px 10%, 100% 15%,
                       100% 85%, 20px 90%, 10px 100%,
                       0 100%, 0 0); */

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(5px, 6dvh, 50px);

    background-color: rgba(33, 33, 33, 0.4);
    backdrop-filter: blur(5px);
    transition: background-color 0.5s;

    z-index: 160;
}
@keyframes hoverTool{
    from{rotate: x 0deg;}
    to{rotate: x 80deg;}
}
.toolbar{
    li{
        width: 100%;
        height: fit-content;
    }
    .hn{
        font-size: 2rem;
        color: rgb(219, 219, 219);

        position: absolute;
        translate: 0 -8px;

        transition: translate 0.5s ease,
                    text-shadow 0.3s ease,
                    scale 0.3s ease;
    }
    span{
        width: 100%;
        font-size: 0.8rem;
        font-weight: 700;
        letter-spacing: 1px;

        color: greenyellow;
        text-align: center;

        translate: 0 18px;
        position: absolute;
        visibility: hidden;
        opacity: 0;

        transition: opacity 0.3s ease,
                    visibility 0.3s ease,
                    translate 0.3s ease;
    }
    .tool-pointer{
        font-size: 1.5rem;
        translate: 30px;
        visibility: hidden;
        animation: hoverTool 0.5s infinite alternate-reverse both ease;
    }
}

.tools{
    width: 100%;
    height: 60px;
    border: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    cursor: pointer;

    background-color: transparent;
    opacity: 0.5;

    transition: opacity 0.5s ease;

    i, span{
        pointer-events: none;
    }
}
.tools:hover,
.tools:focus-visible{
    background-image: linear-gradient(
        to right,
        rgba(172, 255, 47, 0.1) 95%,
        greenyellow 1%
    );

    .hn:not(.tool-pointer){
        translate: 0 -8px;
        scale: 1.2;
        color: greenyellow;
    }
    span{
        visibility: visible;
        opacity: 1;
    }
    .tool-pointer{
        visibility: visible;
        translate: 40px;
        color: greenyellow;
    }
}
.toggle-menu-btn{
    .hn{
        color: white;
    }
}


/*
    SECCIÓN DE NAVEGACIÓN
*/
.navbar.expanded-menu{
    visibility: visible;
    
    translate: 0;
    clip-path: inset(0 0 0 0);
}
.navbar{
    width: clamp(360px, 35dvw, 500px);
    height: 100%;

    translate: -20%;
    clip-path: inset(0 80% 0 0);
    background-color: whitesmoke;

    position: absolute;
    display: grid;
    grid-template-rows: 2fr 5fr;
    grid-template-columns: 1fr;

    visibility: hidden;
    transition: visibility 0.5s ease,
                clip-path 0.5s ease,
                translate 0.5s ease;

    overflow: hidden;
    overflow-y: auto;
    z-index: 150;
}

/* ENCABEZADO */
.navbar header{
    width: 100%;
    height: 100%;
    padding: 1em;

    display: flex;
    align-items: flex-end;
    gap: 0 0.5em;
    border-radius: 0 0 0.6em 0.6em;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.05);

    background-color: #e5e5f7;
    background-image:
        linear-gradient(to top, white 40%, transparent),
        linear-gradient(rgba(105, 185, 51, 0.3) 1px, transparent 1px),
        linear-gradient(to right, rgba(150, 255, 78, 0.6) 1px, white 1px);
    background-size: 100%, 20px 20px, 20px;

    overflow: clip;
    overflow-clip-margin: content-box;

    grid-row: 1 / 2;
    grid-column: 1 / 2;
    z-index: 20;
}
.navbar header:has(a){
    background:
        linear-gradient(to top, white, transparent),
        url('/imgs/default-menu-header-background.webp')
        center no-repeat
        rgb(149, 219, 65);
    background-blend-mode: luminosity;
    background-size: cover;
}

.user-image{
    min-width: 75px;
    width: 75px;
    height: 75px;

    border-radius: 1em;
    border: 2px solid whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

    aspect-ratio: 1 / 1;
    overflow: hidden;

    img{
        max-width: 100%;
        max-height: 100%;
    }
}
.user-image:hover{
    border-color: greenyellow;
}
.user-info-box{
    max-width: 100%;
    min-height: 75px;
    height: fit-content;

    flex: 1;
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-columns: 1fr;
    align-items: end;

    *{
        max-width: 100%;
        justify-self: start;
    }
}
.user-tier{
    border-radius: 10px;
    padding: 0 5px;

    font-size: 0.8rem;
    font-weight: bold;

    background-color: rgb(55, 153, 0);
    color: whitesmoke;

    align-self: end;
    cursor: default;
}
.user-tier.Base{
    background-color: rgb(156, 166, 135);
}
.user-tier.Premium{
    background-color: rgb(255, 101, 101)
}
.user-alias{
    font-size: clamp(1.2rem, 3dvh, 1.4rem);
    font-weight: 500;

    color: rgb(19, 19, 19);
    text-shadow: 2px 0 2px rgba(0, 0, 0, 0.1);

    align-self: center;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user-name{
    text-decoration: none;
    font-size: 1rem;
    
    opacity: 0.5;
    color: rgb(255, 0, 0);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);

    display: inline-block;
    align-self: start;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user-name:hover{
    color:green;
}

.login-btn{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 0.4em;

    font-size: 0.9rem;
    font-weight: 600;

    background-color: rgb(97, 174, 45);
    color: white;

    cursor: pointer;
}
.login-btn:hover{
    background-color: rgba(169, 255, 63, 0.8);
    text-shadow: 2px 2px 1px rgba(74, 22, 3, 0.2);
}

/* CUERPO */
.navbar nav{
    width: 100%;
    max-height: 100%;

    padding: 1em;
    border-radius: 5px;

    display: grid;
    grid-template-rows: repeat(auto-fit, clamp(65px, 12dvh, 110px));
    /* clamp(80px, 15dvh, 110px) */
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6em;
    /* grid-template-areas: 'games games'
                         'downloads downloads'
                         '. .'
                         '. .'; */

    /* background-image: linear-gradient(
        to bottom right,
        rgba(255, 89, 244, 0.08),
        rgba(71, 201, 56, 0.15),
        rgba(79, 105, 73, 0.1)
    ); */

    grid-row: 2 / 3;
    grid-column: 1 / 2;

    .large-link{
        grid-column: span 2;

        padding: 0 1.5rem;

        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .admin-link{
        justify-content: center;
    }
}
.links{
    width: 100%;
    max-height: 100%;
    text-decoration: none;

    font-size: clamp(0.9rem, 2.2dvh, 1.2rem);
    font-weight: 600;
    border: 3px outset rgba(226, 255, 175, 0.2);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    background-color: rgb(255, 255, 255);

    overflow: hidden;

    .hn, span{
        color: rgb(96, 96, 96);
    }
}
.links:hover{
    border-style: inset;
    background-color: rgba(169, 255, 63, 0.8);
    text-shadow: 2px 2px 1px rgba(74, 22, 3, 0.2);;

    .hn, span{
        color: black;
    }
}