@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}


/*
    CONTENIDO LATERAL PRINCIPAL
*/
.sidebar{
    width: fit-content;
    height: 100%;

    position: fixed;
    display: grid;
    grid-template-columns: max-content min-content;

    z-index: 150;
}
.sidebar i{
    font-size: 40px;
    color: #000000;
}
.sidebar.expanded::before{
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    
    z-index: -1;
}


/*
    BARRA SECUNDARIA CON HERRAMIENTAS
*/
.nav-side.expanded{
    background-image: linear-gradient(
        to top,
        rgb(106, 157, 133),
        rgb(92, 141, 143)
    );
}
.nav-side.expanded i{
    color: rgb(219, 219, 219);
    opacity: 1;
}
.nav-side.expanded .toggle-btn{
    border-radius: 100%;
    width: 50px;

    background-color: white;
}
.nav-side.expanded .nav-side-tools:hover{
    background-color: aquamarine;
}

.nav-side{
    width: 60px;
    height: 100%;

    background-color: white;
    background-image: linear-gradient(
        to right,
        rgba(225, 225, 225, 0.5),
        transparent
    );

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    transition: width 0.4s ease,
                background-image 0.4s ease;
}
.nav-side:hover{
    width: 70px;
}
.nav-side i{
    color: rgb(159, 159, 159);
    opacity: 0.6;
    transition: opacity 0.4s ease;
}
.nav-side:hover i{
    opacity: 1;
}

.nav-side-tools{
    width: 100%;
    height: 50px;
    margin: 15px 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;

    border: none;
}
.nav-side-tools:hover{
    background-image: linear-gradient(
        to right,
        rgba(127, 255, 212, 0.8),
        rgba(255, 255, 255, 0)
    );
}
.nav-side-tools:hover i{
    color: white;
}

.toggle-btn{
    margin-top: 20px;
    margin-bottom: auto;
}
.logout-link{
    margin-top: auto;
    margin-bottom: 40px;
}


/* 
    BARRA PRINCIPAL CON ENLACES
*/
.nav-main.expanded{
    display: flex;
    width: 100%;
    padding: 20px 30px;
}

.nav-main{
    width: 0%;
    height: 100%;

    display: none;
    flex-direction: column;
    justify-content: center;
    transition: width 2s ease,
                padding 2s ease;

    background-color: white;

    /* background-image: url("https://img.freepik.com/premium-vector/blue-sky-background-pixel-art-style_475147-2665.jpg");
    background-repeat: no-repeat;
    background-size: cover; */

    z-index: -1;
}

/* ENCABEZADO DE LA BARRA PRINCIPAL */
.nav-main-header-container{
    width: 360px;
    margin-bottom: 20px;

    display: grid;
    grid-template-rows: repeat(3, 20px);
    grid-template-columns: 30px 30px 1fr;
    gap: 0 5px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user-image{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    overflow: hidden;

    grid-row: 1 / 4;
    grid-column: 1 / 3;

}
.user-image img{
    width: 100%;
    height: 100%;
}
.user-status{
    border-radius: 10px;
    padding: 0 5px;

    font-size: 14px;
    font-weight: 600;

    background-color: rgb(255, 101, 101);
    color: rgb(255, 255, 255);

    justify-self: start;
    align-self: end;
    cursor: default;

    grid-row: 1 / 2;
    grid-column: 3 / 4;
}
.user-alias{
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}
.user-name{
    text-decoration: none;
    font-size: 16px;
    opacity: 0.5;
    color: green;

    justify-self: start;
    align-self: start;

    grid-row: 3 / 4;
    grid-column: 3 / 4;
}
.user-name:hover{
    color:purple;
}

/* CONTENIDO DE LA BARRA PRINCIPAL */
.nav-main-body-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    justify-content: space-between;
    background-image: linear-gradient(
        to top,
        rgba(95, 255, 55, 0.2),
        rgba(89, 246, 189, 0.2)
    );
    padding: 10px;
    border-radius: 5px;
}
.nav-main-links{
    flex-basis: 48%;
    width: 100%;
    height: 90px;
    text-decoration: none;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    font-size: 16px;
    font-weight: 600;
    border: 3px outset rgba(220, 220, 220, 0.2);
    border-radius: 5px;

    background-color: rgb(255, 255, 255);
    color: black;
}
.nav-main-links:hover{
    border-style: inset;
    background-color: aquamarine;
}
.games-link, .downloads-link{
    flex-basis: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;
}